---
import { getCollection, render } from 'astro:content';

import { withNeighbors } from '../../util.astro';
import Main from '../../layouts/Main.astro';
import Date from '../../components/Date.astro';

// https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default
export const getStaticPaths = async () => {
  const posts = (await getCollection('posts')).sort((a, b) =>
    // newest -> oldest
    b.data.published.valueOf() - a.data.published.valueOf())
  return withNeighbors(posts).map(({ current: post, prev, next }) => ({
    params: { id: post.id },
    props: { post, prev, next },
  }));
};

const { post, prev, next } = Astro.props;
const { Content } = await render(post);
---

<Main title={post.data.title}>
  <p><Date date={post.data.published} /></p>
  <h1>{post.data.title}</h1>
  <Content />

  <hr />
  <div>
    {prev
      && <p>Previous:&nbsp;<a href={`/posts/${prev.id}/`}>{prev.data.title}</a></p>}
    {next
      && <p>Next:&nbsp;<a href={`/posts/${next.id}/`}>{next.data.title}</a></p>}
  </div>
</Main>

<style is:global>
main :where(img[data-astro-image]) {
  max-width: 100%;       /* respect parent width */
  height: auto;
  width: auto;           /* allow shrink below intrinsic width */
  margin-inline: auto;   /* optional: center */
}
</style>
